*.img filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.iso filter=lfs diff=lfs merge=lfs -text
*.hex filter=lfs diff=lfs merge=lfs -text
*.elf filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.tar.xz filter=lfs diff=lfs merge=lfs -text
*.tar.bz2 filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
node-v24.14.0-linux-x64.tar.xz filter=lfs diff=lfs merge=lfs -text
Anthropic.claude-code-2.1.71@linux-x64.vsix filter=lfs diff=lfs merge=lfs -text
code_1.110.1-1772839366_amd64.deb filter=lfs diff=lfs merge=lfs -text
